body {
    background: #000;
    font-family: "Poppins", sans-serif;
}

.main-card {
    width: 380px;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
    padding: 40px 25px;
    background: linear-gradient(180deg, #14d98a, #0db35e);
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    color: white;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}

.menu-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-btn {
    background: rgba(255,255,255,0.2);
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.action-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background: rgba(255,255,255,0.15);
    border-radius: 25px;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 17px;
    margin-bottom: 15px;
    border: 2px solid rgba(255,255,255,0.25);
}

.action-btn i {
    margin-right: 12px;
    font-size: 22px;
}

.action-btn:hover {
    background: rgba(255,255,255,0.25);
}

.upload-btn {
    cursor: pointer;
}

.result-box {
    background: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.result {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
